<input type="hidden" value="<%= Battle.last.id + 1%>" id="battle-id">
<div class="battle">
  <div class="battle-screen">
    <div>
      <h4>Welcome to <small>Hashtag Battle</small></h4>
    </div>

    <div class="battle-form">
      <div class="form-group">
        <%= form_for Battle.new, remote: true do |f| %>
          <%= f.text_field :name, placeholder: "Name of the battle", :class => "form-control battle-field" %>
        <label class="battle-field-icon fui-new"></label>
      </div>

      <div class="form-group">
        <%= f.text_field :hashtags, :placeholder => "pepsi,coke", :value => "", :class => "tagsinput battle-field" %>
        <label class="battle-field-icon fui-search"></label>
      </div>

      <%= f.submit 'Battle!', :class => 'btn btn-primary btn-lg btn-block battle-submit' %>
    <% end %>

    </div>
  </div>
</div>

<div id="freewall" class="free-wall">
</div>

