<h1>Hashtag Battle</h1>

<div id="brand">
</div>

<%= form_for Battle.new, remote: true do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name, placeholder: "Name of the battle" %><br>
  <%= f.label :hashtags %><br>
  <%= f.text_field :hashtags, :placeholder => "pepsi,coke", :value => "" %><br>
  <%= f.submit "Send" %>
<% end %>
